<section class="w-full h-screen font-display text-4xl">
    <div class=" flex flex-col items-center justify-center">
        <a href="#" class="mt-[5%] mb-[5%]  font-bold">Proyectos</a>
    </div>
    <div class="w-full flex items-center justify-center ">
        <div class="w-[80%] bg-yellow-500 flex flex-col">
            <p>hola</p>
        </div>
    </div>
</section>