<header class="w-[80%] mx-auto text-black">
    <nav class="flex justify-between items-center">
        <!-- Imagen en la esquina superior izquierda -->
        <div class="relative">
            <img src="w.jpg" alt="William Opazo" class="w-20 h-20 rounded-full object-cover">
        </div>

        <!-- Menú de redes sociales -->
        <ul class="flex space-x-6">
            <!-- Icono de GitHub -->
            <li>
                <a href="https://github.com" target="_blank" class="text-4xl hover:text-rosado">
                    <i class="fab fa-github"></i> <!-- Icono GitHub -->
                </a>
            </li>

            <!-- Icono de LinkedIn -->
            <li>
                <a href="https://linkedin.com" target="_blank" class="text-4xl hover:text-rosado">
                    <i class="fab fa-linkedin"></i> <!-- Icono LinkedIn -->
                </a>
            </li>

        </ul>
    </nav>
</header>