<header class="w-[80%] mx-auto text-black">
    <nav class="flex justify-between items-center">
        <!-- Imagen en la esquina superior izquierda -->
        <div class="relative">
            <img src="w.jpg" alt="William Opazo" class="w-20 h-20 rounded-full object-cover">
        </div>

        <!-- Menú de redes sociales -->
        <ul class="flex space-x-6 ">
            <!-- Icono de GitHub -->
            <li class="hover:animate-jump">
                <a href="https://github.com/william-Oz02?tab=repositories" target="_blank" class="text-4xl hover:text-rosado ">
                    <i class="fab fa-github"></i> <!-- Icono GitHub -->
                </a>
            </li>

            <!-- Icono de LinkedIn -->
            <li class="hover:animate-jump">
                <a href="https://www.linkedin.com/in/william-opazo-esquivel-910570236/" target="_blank" class="text-4xl hover:text-rosado">
                    <i class="fab fa-linkedin"></i> <!-- Icono LinkedIn -->
                </a>
            </li>

            <!-- Icono de Gmail -->
            <li class="hover:animate-jump">
                <a href="https://mail.google.com/" target="_blank" class="text-4xl hover:text-rosado">
                    <i class="fas fa-envelope"></i> <!-- Icono Gmail -->
                </a>
            </li>
        </ul>
    </nav>
</header>