---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Intro from "../components/Intro.astro";
import Content from "../components/Content.astro";
import About from "../components/About.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="w.jpg" />
        <!-- Font Awesome CDN -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">  
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio</title>
	</head>
	<body>
		<Intro/>
        <Content/>
        <About/>
		<slot />
	</body>
</html>

<style>
    /* Solo importa la fuente Exo */
    @import url('https://fonts.googleapis.com/css?family=Exo:100');

    /* Definir animaciones solo para el fondo */
    @keyframes bg-scrolling-reverse {
        100% {
            background-position: 50px 50px;
        }
    }

    /* Estilo de fondo con la animación */
    body {
        /* Fondo con imagen en base64 */
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
        
        /* Animación de fondo */
        animation: bg-scrolling-reverse 0.92s infinite linear;
    }
</style>